<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    p {
      font-size: 20px;
    }
    body {
      background-color: #cccccc;
    }
    form {
      margin: auto;
      width: 35%;
    }
    .area{
      background-color: grey;
      color: black;
    }
    h1 {
      padding : 25px 320px;
      color: darkorchid;
    }
    h2 {
      color: gold;
    }
    h3{
      color:crimson;
    }
    .result {
      margin: auto;
    }
  </style>
</head>

<body>
  <div class='container'>
    <h1>Speech-Emotion Recognition</h1>
  </div>
  <div class="container">
  <h2>Select a file to upload</h2>
  <p class='list'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-group">
      {% for message in messages %}
      <li class="list-group">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  </div>
  <div class="form-group form">
  <form method="post" action="/" enctype="multipart/form-data">
    <dl>
      <p>
        <input type="file" name="file" autocomplete="off" class="form-control area" required>
        
      </p>
    </dl>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default area">Submit</button>
    </div>
  </form>
  </div>
  <div class="result" align="center">
    {% if result == 'sad' %}
    <p>
      <h3>SAD</h3>
      <span style='font-size:250px;'>😞</span>
      {% endif %}  
    {% if result == 'happy' %} 
    <p >
      <h3>HAPPY</h3>
      <span style='font-size:250px;'>😊</span>
      {% endif %}
      {% if result == 'neutral' %} 
      <p>
        <h3>NEUTRAL</h3>
        <span style='font-size:250px;'>😐</span>
        {% endif %}
        {% if result == 'angry' %} 
        <p>
          <h3>ANGRY</h3>
          <span style='font-size:250px;'>😠</span>
          {% endif %}   
  </div>
</body>

</html>